[package]
name = "zcash_address"
description = "Zcash address parsing and serialization"
version = "0.0.0"
authors = [
    "Jack Grigg <jack@electriccoin.co>",
]
homepage = "https://github.com/zcash/librustzcash"
repository = "https://github.com/zcash/librustzcash"
readme = "README.md"
license = "MIT OR Apache-2.0"
edition = "2018"

[dependencies]
bech32 = "0.8"
blake2b_simd = "0.5"
bs58 = { version = "0.4", features = ["check"] }
f4jumble = { version = "0.0", path = "../f4jumble" }
zcash_encoding = { version = "0.0", path = "../zcash_encoding" }

[dev-dependencies]
assert_matches = "1.3.0"
proptest = "1"

[lib]
bench = false
