[package]
name = "zcash_extensions"
description = "TBD"
version = "0.0.0"
authors = ["Jack Grigg <jack@z.cash>", "Kris Nuttycombe <kris@z.cash>"]
homepage = "https://github.com/zcash/librustzcash"
repository = "https://github.com/zcash/librustzcash"
license = "MIT OR Apache-2.0"
edition = "2018"

[dependencies]
blake2b_simd = "0.5"
zcash_primitives = { version = "0.3.0", path = "../zcash_primitives" }

[dev-dependencies]
ff = { version = "0.7", path = "../ff" }
jubjub = { version = "0.4", path = "../jubjub" }
zcash_proofs = { path = "../zcash_proofs" }
rand_core = "0.5.1"
