[package]
name = "zcash_client_sqlite"
description = "An SQLite-based Zcash light client"
version = "0.3.0"
authors = [
    "Jack Grigg <jack@z.cash>",
    "Kris Nuttycombe <kris@electriccoin.co>"
]
homepage = "https://github.com/zcash/librustzcash"
repository = "https://github.com/zcash/librustzcash"
readme = "README.md"
license = "MIT OR Apache-2.0"
edition = "2018"

[dependencies]
bech32 = "0.8"
bs58 = { version = "0.4", features = ["check"] }
ff = "0.10"
group = "0.10"
jubjub = "0.7"
protobuf = "2.20"
rand_core = "0.6"
rusqlite = { version = "0.24", features = ["bundled", "time"] }
time = "0.2"
zcash_client_backend = { version = "0.5", path = "../zcash_client_backend" }
zcash_primitives = { version = "0.5", path = "../zcash_primitives" }

[dev-dependencies]
tempfile = "3"
zcash_proofs = { version = "0.5", path = "../zcash_proofs" }

[features]
mainnet = []
test-dependencies = ["zcash_client_backend/test-dependencies"]
