[package]
name = "zcash_primitives"
description = "Rust implementations of the Zcash primitives"
version = "0.5.0"
authors = [
    "Jack Grigg <jack@z.cash>",
    "Kris Nuttycombe <kris@electriccoin.co>"
]
homepage = "https://github.com/zcash/librustzcash"
repository = "https://github.com/zcash/librustzcash"
readme = "README.md"
license = "MIT OR Apache-2.0"
edition = "2018"

[package.metadata.docs.rs]
all-features = true

[dependencies]
aes = "0.7"
bitvec = "0.22"
bip0039 = { version = "0.9", features = ["std", "all-languages"] }
blake2b_simd = "1"
blake2s_simd = "1"
bls12_381 = "0.6"
bs58 = { version = "0.4", features = ["check"], optional = true }
byteorder = "1"
chacha20poly1305 = "0.9"
equihash = { version = "0.1", path = "../components/equihash" }
ff = "0.11"
fpe = "0.5"
group = "0.11"
hdwallet = { version = "0.3.0", optional = true }
hex = "0.4"
incrementalmerkletree = "0.2"
jubjub = "0.8"
lazy_static = "1"
memuse = "0.2"
nonempty = "0.7"
orchard = "=0.1.0-beta.1"
proptest = { version = "1.0.0", optional = true }
rand = "0.8"
rand_core = "0.6"
ripemd160 = { version = "0.9", optional = true }
secp256k1 = { version = "0.20", optional = true }
sha2 = "0.9"
subtle = "2.2.3"
zcash_encoding = { version = "0.0", path = "../components/zcash_encoding" }

[dependencies.zcash_note_encryption]
version = "0.1"
path = "../components/zcash_note_encryption"
features = ["pre-zip-212"]

[dev-dependencies]
criterion = "0.3"
proptest = "1.0.0"
rand_xorshift = "0.3"
orchard = { version = "=0.1.0-beta.1", features = ["test-dependencies"] }

[target.'cfg(unix)'.dev-dependencies]
pprof = { version = "=0.6.1", features = ["criterion", "flamegraph"] }

[features]
transparent-inputs = ["bs58", "hdwallet", "ripemd160", "secp256k1"]
test-dependencies = ["proptest", "orchard/test-dependencies"]
zfuture = []

[lib]
bench = false

[[bench]]
name = "note_decryption"
harness = false

[[bench]]
name = "pedersen_hash"
harness = false

[badges]
maintenance = { status = "actively-developed" }
