[package]
name = "zcash_primitives"
description = "Rust implementations of the Zcash primitives"
version = "0.8.1"
authors = [
    "Jack Grigg <jack@z.cash>",
    "Kris Nuttycombe <kris@electriccoin.co>"
]
homepage = "https://github.com/zcash/librustzcash"
repository = "https://github.com/zcash/librustzcash"
readme = "README.md"
license = "MIT OR Apache-2.0"
edition = "2021"
rust-version = "1.56.1"
categories = ["cryptography::cryptocurrencies"]

[package.metadata.docs.rs]
all-features = true

[dependencies]
aes = "0.7"
bitvec = "1"
bip0039 = { version = "0.9", features = ["std", "all-languages"] }
blake2b_simd = "1"
blake2s_simd = "1"
bls12_381 = "0.7"
bs58 = { version = "0.4", features = ["check"], optional = true }
byteorder = "1"
chacha20poly1305 = "0.10"
equihash = { version = "0.2", path = "../components/equihash" }
ff = "0.12"
fpe = "0.5"
group = { version = "0.12.1", features = ["wnaf-memuse"] }
hdwallet = { version = "0.3.1", optional = true }
hex = "0.4"
incrementalmerkletree = "0.3"
jubjub = "0.9"
lazy_static = "1"
memuse = "0.2.1"
nonempty = "0.7"
orchard = { version = "0.3", git = "https://github.com/QED-it/orchard.git", rev = "c6e048a4474f0bef5182ed56e5d2ecff6fea0389" }
proptest = { version = "1.0.0", optional = true }
rand = "0.8"
rand_core = "0.6"
ripemd = { version = "0.1", optional = true }
secp256k1 = { version = "0.21", optional = true }
sha2 = "0.9"
subtle = "2.2.3"
zcash_address = { version = "0.2", path = "../components/zcash_address" }
zcash_encoding = { version = "0.2", path = "../components/zcash_encoding" }

[dependencies.zcash_note_encryption]
version = "0.2"
path = "../components/zcash_note_encryption"
features = ["pre-zip-212"]

[dev-dependencies]
criterion = "0.3"
proptest = "1.0.0"
rand_xorshift = "0.3"
orchard = { version = "0.3", features = ["test-dependencies"], git = "https://github.com/QED-it/orchard.git", rev = "c6e048a4474f0bef5182ed56e5d2ecff6fea0389" }

[target.'cfg(unix)'.dev-dependencies]
pprof = { version = "0.9", features = ["criterion", "flamegraph"] } # MSRV 1.56

[features]
transparent-inputs = ["bs58", "hdwallet", "ripemd", "secp256k1"]
test-dependencies = ["proptest", "orchard/test-dependencies"]
zfuture = []

[lib]
bench = false

[[bench]]
name = "note_decryption"
harness = false

[[bench]]
name = "pedersen_hash"
harness = false

[badges]
maintenance = { status = "actively-developed" }
