[package]
name = "zcash_primitives"
description = "Rust implementations of the Zcash primitives"
version = "0.5.0"
authors = [
    "Jack Grigg <jack@z.cash>",
    "Kris Nuttycombe <kris@electriccoin.co>"
]
homepage = "https://github.com/zcash/librustzcash"
repository = "https://github.com/zcash/librustzcash"
readme = "README.md"
license = "MIT OR Apache-2.0"
edition = "2018"

[package.metadata.docs.rs]
all-features = true

[dependencies]
aes = "0.6"
bitvec = "0.22"
blake2b_simd = "0.5"
blake2s_simd = "0.5"
bls12_381 = "0.5"
byteorder = "1"
crypto_api_chachapoly = "0.4"
equihash = { version = "0.1", path = "../components/equihash" }
ff = "0.10"
fpe = "0.4"
group = "0.10"
hex = "0.4"
jubjub = "0.7"
lazy_static = "1"
log = "0.4"
nonempty = "0.7"
orchard = "0.0"
pasta_curves = "0.1"
proptest = { version = "1.0.0", optional = true }
rand = "0.8"
rand_core = "0.6"
ripemd160 = { version = "0.9", optional = true }
secp256k1 = { version = "0.20", optional = true }
sha2 = "0.9"
subtle = "2.2.3"
zcash_note_encryption = { version = "0.0", path = "../components/zcash_note_encryption" }

[dev-dependencies]
criterion = "0.3"
hex-literal = "0.3"
proptest = "1.0.0"
rand_xorshift = "0.3"
orchard = { version = "0.0", features = ["test-dependencies"] }

[features]
transparent-inputs = ["ripemd160", "secp256k1"]
test-dependencies = ["proptest"]
zfuture = []

[[bench]]
name = "note_decryption"
harness = false

[[bench]]
name = "pedersen_hash"
harness = false

[badges]
maintenance = { status = "actively-developed" }
