[package]
name = "zcash_primitives"
description = "Rust implementations of the Zcash primitives"
version = "0.4.0"
authors = [
    "Jack Grigg <jack@z.cash>",
]
homepage = "https://github.com/zcash/librustzcash"
repository = "https://github.com/zcash/librustzcash"
readme = "README.md"
license = "MIT OR Apache-2.0"
edition = "2018"

[package.metadata.docs.rs]
all-features = true

[dependencies]
aes = "0.5"
bitvec = "0.18"
blake2b_simd = "0.5"
blake2s_simd = "0.5"
bls12_381 = "0.3.1"
byteorder = "1"
crypto_api_chachapoly = "0.4"
equihash = { version = "0.1", path = "../components/equihash" }
ff = "0.8"
fpe = "0.3"
group = "0.8"
hex = "0.4"
jubjub = "0.5.1"
lazy_static = "1"
log = "0.4"
rand = "0.7"
rand_core = "0.5.1"
ripemd160 = { version = "0.9", optional = true }
secp256k1 = { version = "0.19", optional = true }
sha2 = "0.9"
subtle = "2.2.1"

[dev-dependencies]
criterion = "0.3"
hex-literal = "0.2"
rand_xorshift = "0.2"

[features]
transparent-inputs = ["ripemd160", "secp256k1"]

[[bench]]
name = "note_decryption"
harness = false

[[bench]]
name = "pedersen_hash"
harness = false

[badges]
maintenance = { status = "actively-developed" }
